---
import Testimonios from "./Testimonios.jsx";
import BigSection from "./BigSection.astro";
import Timeline from "./Timeline.astro";
import IconLink from "./IconLink.astro";
import InstagramIcon from "../../public/iconos/InstagramIcon.astro";
import LinkedInIcon from "../../public/iconos/LinkedInIcon.astro";
import TravelIcon from "../../public/iconos/TravelIcon.astro";
import WorkIcon from "../../public/iconos/WorkIcon.astro";
import StudentIcon from "../../public/iconos/StudentIcon.astro";
import BarsIcon from "../../public/iconos/BarsIcon.astro";
import FlagIcon from "../../public/iconos/FlagIcon.astro";
import Cursos from "./Cursos.jsx";
import ContactForm from "./FormContact.jsx";
import CheckIcon from "../../public/iconos/CheckIcon.astro";
import CarouselComponent from "./CarouselComponent";

const caracteristicas = [
	{
		titulo: "Voyager",
		icon: TravelIcon,
		descripcion: [
			{
				titulo: "L'espagnol est la langue officielle dans plus de 21 pays.",
				detalle:
					"Parler espagnol vous permet de communiquer avec les locaux et d'enrichir votre expérience de voyage. Vous pouvez interagir avec les gens, mieux comprendre leur culture et profiter d’une immersion plus profonde dans les lieux que vous visitez.",
			},
			{
				titulo: "Améliorez l’expérience de voyage.",
				detalle:
					"Connaître la langue locale vous permet de vous déplacer facilement, de demander votre chemin, de faire du shopping et de participer à des activités locales sans barrières linguistiques, rendant votre voyage plus fluide et plus enrichissant.",
			},
		],
	},
	{
		titulo: "Améliorer vos chances d'obtenir un emploi",
		icon: WorkIcon,
		descripcion: [
			{
				titulo: "L'espagnol est une langue parlée dans le monde entier.",
				detalle:
					"La connaissance de l'espagnol augmente vos opportunités professionnelles, car de nombreuses entreprises mondiales recherchent des professionnels capables de communiquer avec des clients, des partenaires et des employés dans les pays hispanophones.",
			},
			{
				titulo: "Avantage concurrentiel sur le marché du travail.",
				detalle:
					"Parler espagnol vous place au-dessus d'autres candidats qui ne maîtrisent pas cette langue, en particulier dans des secteurs tels que le tourisme, le commerce, les relations internationales et l'éducation.",
			},
		],
	},
	{
		titulo: "Étudier ou travailler dans un pays hispanophone",
		icon: StudentIcon,
		descripcion: [
			{
				titulo: "Accès aux opportunités éducatives.",
				detalle:
					"La maîtrise de l'espagnol vous permet d'étudier dans des universités et des centres éducatifs dans les pays hispanophones, d'accéder à des bourses et à des programmes d'échange, ce qui ouvre des portes pour grandir académiquement.",
			},
			{
				titulo: "Améliorez votre intégration professionnelle.",
				detalle:
					"Avec l'espagnol, vous pouvez accéder à de meilleures opportunités professionnelles, tant dans les entreprises locales qu'internationales présentes dans les pays hispanophones.",
			},
		],
	},
	{
		titulo: "Découvrir la culture hispanique",
		icon: BarsIcon,
		descripcion: [
			{
				titulo: "Découvrir la musique, la littérature et le cinéma dans leur langue originale.",
				detalle:
					"Parler espagnol vous permet de profiter d’un riche patrimoine culturel sans dépendre des traductions, ce qui vous donne un accès direct aux œuvres littéraires, aux films et aux chansons dans leur forme originale.",
			},
			{
				titulo: "Comprendre et mieux apprécier les traditions.",
				detalle:
					"La langue est une porte ouverte aux coutumes, festivités et modes de vie des pays hispanophones, vous permettant de mieux comprendre l’essence culturelle de chaque nation.",
			},
		],
	},
	{
		titulo: "Apprendre l'espagnol est relativement facile, surtout pour les francophones",
		icon: FlagIcon,
		descripcion: [
			{
				titulo: "Similitudes avec le français.",
				detalle:
					"L'espagnol et le français partagent des racines latines, ce qui facilite l'apprentissage pour les francophones. De nombreux mots et structures grammaticales sont similaires, permettant une transition plus rapide et moins difficile vers l’apprentissage de l’espagnol.",
			},
			{
				titulo: "Processus d'apprentissage accéléré.",
				detalle:
					"Les locuteurs français trouvent souvent plus facile d'apprendre l'espagnol en raison des similitudes linguistiques, ce qui réduit considérablement le temps nécessaire pour acquérir la fluidité par rapport à d'autres langues.",
			},
		],
	},
];

const Imagenes = [
	{
		imagen: "/images/slider_hispanocurso_01_a.jpg",
	},
	{
		imagen: "/images/slider_hispanocurso_01_b.jpg",
	},
	{
		imagen: "/images/slider_hispanocurso_01_c.jpg",
	},
	{
		imagen: "/images/slider_hispanocurso_01_d_.jpg",
	},
];

const carouselData = [
	{
		text: "Synth chartreuse iPhone lomo cray raw denim brunch everyday carry neutra before they sold out fixie 90's microdosing. Tacos pinterest fanny pack venmo, post-ironic heirloom try-hard pabst authentic iceland.",
		image: "https://dummyimage.com/106x106",
		name: "Holden Caulfield",
		position: "UI DEVELOPER",
	},
	{
		text: "Synth chartreuse iPhone lomo cray raw denim brunch everyday carry neutra before they sold out fixie 90's microdosing. Tacos pinterest fanny pack venmo, post-ironic heirloom try-hard pabst authentic iceland.",
		image: "https://dummyimage.com/106x106",
		name: "Holden Caulfield",
		position: "UI DEVELOPER",
	},
	{
		text: "Synth chartreuse iPhone lomo cray raw denim brunch everyday carry neutra before they sold out fixie 90's microdosing. Tacos pinterest fanny pack venmo, post-ironic heirloom try-hard pabst authentic iceland.",
		image: "https://dummyimage.com/106x106",
		name: "Holden Caulfield",
		position: "UI DEVELOPER",
	},
];
---

<div>
	<main>
		<div class="w-full relative">
			<div class="w-full h-[50vh] md:h-full object-cover z-10">
				<CarouselComponent
					images={Imagenes.map((img) => img.imagen)}
					client:load
				/>
			</div>
		</div>

		<BigSection id="caracteristicas" class="max-w-7xl">
			<div class="w-full mx-auto max-w-7xl mt-12 mb-6">
				<h3
					class="text-center text-4xl font-semibold text-yellowSecondary"
				>
					Pourquoi étudier l'espagnol ?
				</h3>
			</div>
			<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
				<div class="flex justify-center items-center align-middle">
					<video
						src="/images/video.mp4"
						controls
						loop
						class="object-cover rounded-md px-12"
					>
					</video>
				</div>
				<div
					class="mt-8 grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-1 px-4 lg:grid-cols-1"
				>
					{
						caracteristicas.map((caracteristica, index) => (
							<div
								id={`accordion-collapse-${index}`}
								data-accordion="collapse"
								class="w-full"
							>
								<h2 id={`accordion-collapse-heading-${index}`}>
									<button
										type="button"
										class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-gray-200 rounded-t-xl focus:ring-2 focus:ring-gray-100 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3 transition duration-300 ease-in-out"
										data-accordion-target={`#accordion-collapse-body-${index}`}
										aria-expanded="false"
										aria-controls={`accordion-collapse-body-${index}`}
									>
										<div class="flex items-center gap-2">
											<caracteristica.icon class="w-8 h-8 text-yellowSecondary" />
											<span class="text-left">
												{caracteristica.titulo}
											</span>
										</div>
										<svg
											data-accordion-icon
											class="w-3 h-3 rotate-180 shrink-0"
											aria-hidden="true"
											xmlns="http://www.w3.org/2000/svg"
											fill="none"
											viewBox="0 0 10 6"
										>
											<path
												stroke="currentColor"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
												d="M9 5 5 1 1 5"
											/>
										</svg>
									</button>
								</h2>
								<div
									id={`accordion-collapse-body-${index}`}
									class="hidden"
									aria-labelledby={`accordion-collapse-heading-${index}`}
								>
									<div class="bg-white px-6 py-4 space-y-2">
										{caracteristica.descripcion.map(
											(desc) => (
												<div class="px-3 py-2">
													<h5 class="text-base font-semibold text-stoneLight text-left">
														{desc.titulo}
													</h5>
													<p class="text-sm text-stoneLight text-left">
														{desc.detalle}
													</p>
												</div>
											),
										)}
									</div>
								</div>
							</div>
						))
					}
				</div>
			</div>
		</BigSection>

		<BigSection id="caracteristicas" class="max-w-7xl">
			<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
				<div
					class="mt-2 grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-1 px-4 lg:grid-cols-1"
				>
					<p class="px-12">
						"Apprenez l'espagnol avec des cours personnalisés pour
						tous les niveaux ! Je vous offre une séance gratuite de
						30 minutes pour découvrir ma méthode. Horaires
						totalement flexibles adaptés à vos besoins. Préparation
						spécialisée aux examens DELE. N'attendez plus, réservez
						votre cours dès aujourd'hui !"
					</p>
				</div>
				<div class="flex justify-center items-center align-middle">
					<video
						src="/images/Video Hispano Curso v6.mp4"
						controls
						loop
						class="object-cover rounded-md px-12"
					>
					</video>
				</div>
			</div>
		</BigSection>
	</main>

	<style>
		.img-instructor {
			-webkit-mask-size: 100% 100%;
			-webkit-mask-repeat: no-repeat;
			mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
		}
	</style>
</div>
